/* ============================================= */
/*                   Variables                      */
/* ============================================= */

// Colors

$color-text: #777;
$color-text-lighter: #A7A7A7;
$color-primary: #7477BF;
$color-secondary: #4c4b73;
$color-background: #FBFBFB;
$color-green: #81C98F;
$font-size: 11px;

// Fonts

$font-stack-primary: 'Open Sans',
sans-serif;
$font-stack-accent: 'Playfair Display',
serif;

//Border style
$border: solid #A7A7A7 .5px;


// Breakpoints

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;


// Slider Variables
$slider-height: 30px;
$slider-padding: 4px;
$slider-width: 90px;