/* ============================================= */
/*                   Variables                      */
/* ============================================= */

// Colors

$color-text: #9e9c98;
$color-text-lighter: #A7A7A7;
$font-size: 11px;

// Fonts

$font-stack-primary: 'Source Sans Pro',
sans-serif;
$font-weight-primary: 400;
$font-weight-primary-heading: 600;
$font-stack-accent: 'Work Sans',
sans-serif;
$font-weight-accent: 300;

//Border style
$border: solid lightgrey 2px;