* {
  font-family: $font-stack-primary;
}

body {
  display: relative;

}

h1 {
  display: inline-block;
  font-weight: $font-weight-accent;
  font-family: $font-stack-accent;
  font-size: 20px;
  margin: 4%;
  padding: 6.6px 0px;
  text-transform: uppercase;
}

h2 {
  font-weight: $font-weight-primary-heading;
  font-size: 18px;
}

p {
  color: $color-text;
  font-weight: $font-weight-primary;
}