.overlay {
  background: rgba(37, 36, 36, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}

.avatar-overlay {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}